# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environments
.env
.venv

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log